.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "prototype0", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        / 『current_page?(引数)』により、表示中のページを判定することが可能。
        / 『&&』以降に記述した名称をクラスに追加することができる。
        %li{role: "presentation", class: current_page?(root_path) && "active"}
          = link_to "Popular PROTO", root_path
        %li{role: "presentation", class: current_page?(newests_path) && "active"}
          = link_to "Newest PROTO", newests_path
      = link_to "View Tags", tags_path , class: "btn btn-default col-lg-1"
