= render partial: "header_prototype"

.container.proto-list
  .row
    = render partial: "prototype", collection: @prototypes

.text-center
  -# 『window: 3』と追記することで、数字以降のページは省略『...』となる。
  -# カレントページ合わせて7リンク分表示される。
  =paginate @prototypes, window: 3
