.container
  .row
    .tags-list
      %h2 Tags List

      %ul
        %li.col-md-4
          %a.btn.btn-default{href: "#"} aiko
        %li.col-md-4
          %a.btn.btn-default{href: "#"} yui
        %li.col-md-4
          %a.btn.btn-default{href: "#"} miwa
        %li.col-md-4
          %a.btn.btn-default{href: "#"} aiko
        %li.col-md-4
          %a.btn.btn-default{href: "#"} yui
        %li.col-md-4
          %a.btn.btn-default{href: "#"} miwa
